.profile__avatar {
  background-color: #000;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
  max-width: 120px;
  max-height: 120px;
  border-radius: 60px;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  transition: opacity .5s ease-in-out;
}

@media screen and (max-width: 730px) {
  .profile__avatar {
    margin-right: 0;
  }
}
